/*Основные стили*/
body{
    background: #e6e4e4;
    font-size:14px;
    font-family: Tahoma, Arial, sans-serif;
    margin:0;
    padding:0;
}

a{
    text-decoration: none;
}

a:hover{
    
}

img{
    border:0;
}

/*Верхняя линия*/
#top-line{
    height:5px;
    background: #323030;
}

/*Шапка сайта*/
#header{
    width:940px;
    margin:0 auto;
    height:95px;
}
    /*Логотип*/
#logo{
    background: url(../img/logo.png) top left no-repeat;
    display: block;
    width:264px;
    height:83px;
    margin:8px 0 4px 0;
    float:left;
}
    /*Номер телефона*/
#call{
    float:left;
    font-size:30px;
    color: #7e7b7b;
    font-family: Arial, Tahoma, sans-serif;
    width:265px;
    text-align:center;
    padding-top:13px;
}
    /*Меню в шапке*/
#top-menu{
    width:410px;
    float:left;
    height:33px;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    background: #323030;
    background: -webkit-linear-gradient(-90deg, #323030 10%, #534f4f 80%);
    background: -moz-linear-gradient(-90deg, #323030 10%, #534f4f 80%);
    background: -o-linear-gradient(-90deg, #323030 10%, #534f4f 80%);
    border-radius:0 0 3px 3px;
    padding:6px 0 0 5px;
}

#top-menu a{
    color:#fff;
    padding:0px 6px;
}

#top-menu a:hover{
    text-decoration: underline;
}

.top-menu-line{
    background: #5c5757;
    width:1px;
    height:16px;
    display: inline-block;
    margin-bottom:-3px;
}
    /*Поиск*/
#search{
    width:246px;
    height:38px;
    background: #fff;
    border:2px solid #b4b2b2;
    border-radius:10px;
    float:left;
    margin-top:10px;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}

#search-form{
    color: #010101;
}

#search-form input[type=text]{
    width:190px;
    height:22px;
    margin:5px 4px 4px 4px;
    border:0;
    padding-left:5px;
}

#search-form input[type=submit]{
    width:29px;
    height:27px;
    background: url(../img/search.png) top center no-repeat;
    border:0;
    cursor:pointer;
}
    /*Кнопка корзины*/
#cart-btn{
    display: block;
    float:left;
    width:155px;
    height:34px;
    background: url(../img/cart-btn-bg.png) top center repeat-x;
    margin:12px 0 0 9px;
    border-radius:5px;
    font-size:18px;
    color: #fff;
    text-decoration: none;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    padding:5px 0 0 0px;
    text-align: center;
}

/*Блок контента*/
#content{
    width:940px;
    margin:0 auto;
    background: #fff;
    box-shadow:0 5px 15px #423f3f;
    padding:21px 0;
    display: table;
}

/*Левый блок*/
#leftblock{
    width:200px;
    float:left;
}

#leftblock img{
    max-width:200px;
}
    /*Название категорий*/
.cat-title, .share-title{
    width:200px;
    background: url(../img/cat-bg.png) top center repeat-y;
    height:36px;
    text-align:center;
    font-weight:bold;
    font-size:18px;
    padding-top:6px;
    color: #333131;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}

    /*Акция*/
.share-title{
    color: #be2e27;
}

    /*Название брендов часов*/
.brands{
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    width:200px;
    padding-left:17px;
    margin:5px 0;
}

.brands a{
    display: block;
    color: #000;
    padding:7px 0;
    transition:all 0.2s linear;
    -webkit-transition:all 0.2s linear;
    -moz-transition:all 0.2s linear;
    -o-transition:all 0.2s linear;
}

.brands a:hover{
    padding-left:10px;
}

/*Правый блок*/
#rightblock{
    width:740px;
    float:left;
    padding-left:40px;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}

    /*Список товаров*/
.product{
    float:left;
    width:190px;
    height:340px;
    margin:0 20px 40px 20px;
}

.product img{
    max-width:190px;
    max-height:200px;
}

.product-title{
    color: #0f6a84;
    text-align: center;
    width:100%;
    display: block;
    margin:7px 0;
}

.product .product-title{
    height:50px;
}

.product-title:hover{
    text-decoration: underline;
}


.product .price{
    color: #b53232;
    font-weight:bold;
    font-size:18px;
    text-align: center;
    margin-bottom:7px;
}

.product .to-cart{
    width:153px;
    height:38px;
    display: block;
    background: #8db24c;
    color: #fff;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    padding-top:7px;
    font-size:18px;
    text-align: center;
    border-radius:5px;
    margin:0 auto;
}

.product .to-cart:hover{
    color: #fff36a;
}

    /*Навигация*/
#navigation{
    margin:0 auto;
    display: table;
}

#navigation a{
    background: #c4c4c4;
    display: inline-block;
    width:27px;
    height:27px;
    text-align: center;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    padding-top:5px;
    color: #323030;
    margin:0 2px;
}

#navigation a.active{
    color: #b53232;
}

#navigation a:hover{
    color: #b53232;
}

/*Футер*/
#footer{
    width:940px;
    background: #323030;
    margin:0 auto;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-shadow:0 5px 15px #423f3f;
    padding:5px 5px;
}

    /*Меню в футере*/
#footer-menu{
    text-align: center;
}

#footer-menu a{
    color: #a3a3a3;
    padding:0 5px;
}

#footer-menu a:hover{
    text-decoration: underline;
}

    /*Копирайт*/
#copyright{
    color: #fff;
    text-align: center;
    margin-top:50px;
}

#copyright a{
    color: #fff;
    font-size:16px;
}

#copyright a:hover{
    text-decoration: underline;
}

/*Очистка*/
.clear{
    clear:both;
}